{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="container">
	<div class="row">
	{% for post in posts %}
	<div class="col-md-9 posts">
		{% include '_posts.html' %}
	</div>
	{% endfor %}
	<div class="col-md-3 tags">
		{% include '_tags.html' %}
	</div>
	<div class="col-md-9 pagin">
	{% if pagination %}
		{{ macros.pagination_widget(pagination, '.index') }}
	{% endif %}
	</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
